.user-list-icon-opt {
  display: inline-block;
  height: 27px;
  float: left;
  width: 67px;
  background: url(./icon/iconSprite.png) 0 0 no-repeat;
  margin-right: 5px;
}

.user-list-add{
  background-position :-563px -594px
}

.user-list-modify{
  background-position :-563px -631px
}

.ser-list-del{
  background-position :-563px -668px
}

.user-list-report{
  background-position :-563px -705px
}