.user-list-icon-opt
  display inline-block
  height 27px
  float left
  width 67px
  background url(./icon/iconSprite.png) 0 0 no-repeat
  margin-right 5px
  cursor pointer

.user-list-add
  background-position -563px -594px

.user-list-modify
  background-position -563px -631px

.user-list-del
  background-position -563px -668px

.user-list-report
  background-position -563px -705px

.loading_bar
  border: solid 2px #86a5ad;
  background: #FFF url(./icon/progressBar_m.gif) no-repeat 10px 10px;

.user-list-head-bg
  background: url(./icon/headbg.jpg) 0 0 repeat-x;
  width: 100%;
  height: 94px;
  display: block;
  position: relative;

.user-list-header-logo {
  float: left;
  background: url(./icon/logo.jpg) no-repeat;
  width: 490px;
  height: 94px;
}

.user-list-header-logo-1{
  float left
  width 310px
  height 59px
  background url('./icon/logo1.png') no-repeat
  margin-top 5px
  margin-left 30px
}

.slide-menu-guide-list{
  width: 83px;
  height: 83px;
  background: url(./icon/iconSprite.png) 0 0 no-repeat;
  display: block;
  margin-top: 8px;
}

.up-arrow {
  display: block;
  width: 96px;
  height: 30px;
  background: url(./icon/arrow.jpg) 0 0 no-repeat;
  cursor pointer
}

.down-arrow{
  @extend .up-arrow
  transform: rotate(180deg);
}

.up-arrow:hover{
  display: block;
  width: 96px;
  height: 30px;
  background: url(./icon/arrow.jpg) -96px 0 no-repeat;
}

.down-arrow:hover{
  @extend .up-arrow:hover
  transform: rotate(180deg);
}

.slide-menu-guide-list-1{
  width: 81px;
  height: 81px;
  background: url(./icon/menu-user.png) no-repeat;
  display: block;
  margin-top: 8px;
  padding 3px
  border-bottom 1px solid #ccc
}

.slide-menu-guide-list-1-clicked{
  width: 81px;
  height: 81px;
  background: url(./icon/menu-user-clicked.png) no-repeat;
  display: block;
  margin-top: 8px;
  padding 3px
  border-bottom 1px solid #ccc
}

.slide-menu-unusual{
  width: 81px;
  height: 81px;
  background: url(./icon/menu-unusual.png) no-repeat;
  display: block;
  margin-top: 8px;
  padding 3px
  border-bottom 1px solid #ccc
}

.slide-menu-unusual-clicked{
  width: 81px;
  height: 81px;
  background: url(./icon/menu-unusual-clicked.png) no-repeat;
  display: block;
  margin-top: 8px;
  padding 3px
  border-bottom 1px solid #ccc
}

