@import "./common.styl"
@import "./icon.styl"

@import "./components/BaseModal.styl"
@import "./components/LoadingModal.styl"
@import "./components/MultiList.styl"
@import "./components/SlideMenu.styl"

@import "./containers/userList.styl"
@import "./containers/userItem.styl"
@import "./containers/userAddOverLay.styl"

body
  background-color #ffffff
  margin 0

div
  font-size 12px