@import "../common.styl"

.legend {
  border: 1px solid #d7d7d7;
  background: #f9f9f9;
  font-weight: bold;
  color: #414141;
  margin-left: 15px;
  padding: 5px 8px;
}

fieldset {
  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  min-width: -webkit-min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}

table {
  width: 99%;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  border-spacing: 0px;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td.user-add-input-name-td {
  width: 100px;
  text-align: right;
}

.user-add-input-common {
  width: 300px;
  height: 20px;
}

.user-add-over-lay-field-set{
  margin-top 10px
}

.aui_title {
  height: 29px;
  line-height: 29px;
  padding: 0 25px 0 0;
  text-indent: 5px;
  color: #fff;
  font-weight: 700;
  text-shadow: -1px -1px 0 rgba(33, 79, 183, 0.7);
  background-color: rgb(36, 141, 193);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.aui_title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.contentTable
td {
  border-bottom: 1px solid #ececec;
}

div {
  font-size: 12px;
}

.user-add-container {
  background-color: #f7f7f7
  width: 500px;
  height: 550px;
  border-radius 10px
}

.user-add-btn-container {
  margin-top: 20px;
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 330px;
}

.nessenery-code {
  color: #f00;
  margin-left: 10px;
}
