.user-list-container
  display flex
  flex-direction column

.user-list-toolbar
  height 40px

.sitedetail .grid .gridTbody td {
  text-align: center;
  font-size: 12px;
  color: #6b6b6b;
  height: 35px;
  line-height: 35px;
  border: none;
  border-bottom: 1px dashed #EBE2E2;
  box-sizing: content-box;
}

tr.user-add-input-tr-item {
  display: flex;
  flex-direction: row;
  height: 40px;
}

.user-add-input-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-add-input-common {
  height: 20px;
  margin-left: 10px;
}





.panel .panelHeaderContent h1 {
  color: #183152;
}

.panel .panelContent {
  border-color: #b8d0d6;
  background: #eef4f5;
}

.panel .grid {
  border-color: #b8d0d6;
}

.tabs .tabsHeader li a {
  color: #03408b;
}

.tabs .tabsHeader li span {
  color: #183152;
}

.tabs .tabsContent {
  border-color: #b8d0d6;
  background: #eef4f5;
}


.tabsPageHeader { /*background-color:#e9f0f2;*/

}

.tabsPageHeader {
  border-color: #b8d0d6;
}

.tabsPageHeader li a {
  color: #183152;
}

.tabsMoreList {
  border-color: #b8d0d6;
  background: #FFF;
}

.tabsPageHeader .home_icon {
  /* background:url(./images/icon.png) no-repeat;*/

}

.tabsPageContent {
  border-color: #b8d0d6;
  background: #FFF;
}

.alert .alertContent {
  border-color: #b8d0d6;
  background: #eef4f5;
}

.alert .warn .alertInner {
  border-color: #e83e09;
  background: #fefacf;
}

.alert .error .alertInner {
  border-color: #e50000;
  background: #fefacf;
}

.alert .correct .alertInner,.alert .info .alertInner {
  border-color: #b8d0d6;
  background: #fefacf;
}

.alert .confirm .alertInner {
  border-color: #b8d0d6;
  background: #fefacf;
}


.dialog .dialogHeader h1 {
  color: #183152;
}

.dialog .dialogContent {
  border-color: #b8d0d6;
  background: #eef4f5;
}

.resizable {
  border-color: #081629;
  background: #c3d7dc;
}


.tree ul {
  background: #FFF;
}

.tree li a,.tree li span {
  color: #183152;
}

.tree .hover {
  background: #f5f5f5;
}

.tree .selected {
  background-color: #e8edf3;
}



.grid_tree ul {
  background: #FFF;
}

.grid_tree li a,.grid_tree li span {
  color: #183152;
}

.grid_tree .hover {
  background: #f5f5f5;
}

.grid_tree .selected {
  background-color: #e8edf3;
}
/* Accordion */
/*.accordion .accordionHeader, .accordion .accordionHeader h2, .accordion .accordionHeader h2 span { color:#fff; background:url(./images/accordion/accordion.png);}*/

.accordion {
  border-color: #b8d0d6;
  background: #FFF;
}

.accordion .accordionHeader {
  background-color: #eaf4ff;
}

.accordion .accordionContent {
  border-color: #b8d0d6;
}

/* Grid */
.panelBar,.toolBar li.hover,.toolBar li.hover a,.toolBar li.hover span,.toolBar span,.pagination,.pagination li.hover,.pagination li.hover a,.pagination li span,.pagination li.disabled span span,.panelBar .line,.pagination li.jumpto,.pagination li.jumpto .goto
{ /* background:url(./images/grid/grid.png) no-repeat;*/

}

.panelBar {
  border-color: #b8d0d6;
  background-color: #efefef;
}

.grid .gridHeader { /* background:#EEE;*/

}

.grid {
  background: #FFF;
}

.grid table {
  border-color: #d0d0d0;
}

.grid .gridHeader,.grid .gridHeader th {
  /*border-color:#d0d0d0; background:#f0eff0 url(./images/grid/tableth.png) repeat-x;*/

}

.grid table th div {
  border-left-color: #EEE;
  border-right-color: #d0d0d0;
}

.grid table td {
  border-color: #ededed;
}

.grid .gridHeader th.hover,.grid .gridHeader th.thSelected {
  border-color: #aaccf6;
}

.grid .gridTbody .gridRowBg {
  background: #f7f7f7;
}

.grid .gridTbody .gridRow {
  border-color: #ededed;
}

.grid .gridTbody .gridRow td.tdLast {
  border-color: #ededed;
}

.grid .gridTbody .hover {
  border-color: #dddddd;
  background: #f5f5f5;
}

.grid .gridTbody .hover .tdSelected {
  background: #f5f5f5;
}

.grid .gridTbody .selected {
  border-color: #b8d0d6;
  background: #7cc5e5;
}

.grid .gridTbody .selected .tdSelected {
  background: #e8edf3;
}

.grid .gridTbody .tdSelected {
  background: #f8f8f8;
}

.grid .error {
  background: #fb7e81;
}


.textInput,.textArea {
  border-color: #a2bac0 #b8d0d6 #b8d0d6 #a2bac0;
  background-color: #FFF;
}

input.required,textarea.required {
  border-color: #a2bac0 #b8d0d6 #b8d0d6 #a2bac0;
  background-color: #FFF;
}

input.error,textarea.error {
  border-color: #F80C11 #FB7E81 #FB7E81 #F80C11;
}

input.focus,textarea.focus {
  border-color: #64aabc #a9d7e3 #a9d7e3 #64aabc;
  background-color: #f8fafc;
}

input.readonly,textarea.readonly {
  border-color: #9eabb3 #d5dbdf #d5dbdf #9eabb3;
  background-color: #F6F6F6;
}

input.disabled,textarea.disabled {
  border-color: #9eabb3 #d5dbdf #d5dbdf #9eabb3;
  background-color: #F6F6F6;
}

.button span,.buttonDisabled span,.buttonActive span,.button .buttonContent,.buttonHover,.buttonHover .buttonContent,.buttonActive .buttonContent,.buttonDisabled .buttonContent,.button button,.buttonHover button,.buttonActive button,.buttonDisabled button
{
  color: #183152;
}

.buttonDisabled span,.buttonDisabled:hover span,.buttonDisabled button {
  color: #999;
}

/* ----------------------------------------------------------------- Pages */
/* Layout */
#splitBar {
  background: #e5edef;
}

#splitBarProxy {
  border-color: #c0c0c0;
  background: #CCC;
}

/* header / footer---------------------------------------------------------------------*/
.top {
  overflow: hidden;
  height: 94px;
  //height: 94px;
  //height: 94px;
}

.logo a {
  width: 42px;
  height: 42px;
  display: block;
  margin: 11px 0 0 21px;
}

.headerTopBox {
  height: 54px;
}


.headertext {
  float: right;
  margin-right: 302px;
  color: #fff;
  font-size: 12px;
  font-family: "微软雅黑";
  margin-top: 20px;
}

a.exitSystem:hover {

}

a.helpSystem:hover {

}

a.changePasswordSystem:hover {

}


.headerBottomBox .notice {
  float: left;
  color: #787878;
  margin: 12px 0 0 10px;
}

.headerBottomBox .notice b {
  color: #4288bc;
}

.headerBottomBox .userInfo {
  color: #787878;
  position: absolute;
  top: 66px;
  right: 35px;
}

.headerBottomBox .userInfo b {
  color: #4288bc;
}

.headerBottomBox a {
  color: #d4e6f2 !important;
  display: block;
  float: left;
  text-decoration: none;
  height: 25px;
  _height: 30px;
  padding-top: 6px;
  text-align: left;
  margin-right: 5px;
  padding-left: 28px;
  width: 60px;
  _width: 88px;
}

.top_tool a:hover {
  color: #99FFFF !important;
}

#footer {
  background-color: #248dc1;
  height: 29px;
  line-height: 29px;
  text-align: center;
  font-size: 12px;
  color: #ffffff !important;
}


.toggleCollapse {
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: #b8d0d6;
  background-color: #f6fafd;
}

.toggleCollapse h2 {
  color: #2188ca;
}

#sidebar_s .collapse {
  border: solid 1px #b8d0d6;
  background: #eff5f6;
}

#sidebar_s .collapse:hover {
  background: #f5f9fa;
}


#taskbar li .taskbutton span {
  color: #FFF;
}


#navMenu {
  background-color: #1871dd;
}

#navMenu li a,#navMenu li span {
  color: #FFF;
}

#navMenu li.selected span {
  color: #000;
}

/* Homepage */
.sidebarContent {
  display: block;
  overflow: auto;
  height: 500px;
  border: solid 1px #86B4EC;
  background: #FFF;
}


.accountInfo p {
  padding: 8px 0 0 0;
  line-height: 19px;
}

.accountInfo p span {
  font-size: 14px;
  font-weight: bold;
}

.accountInfo .right {
  float: right;
  padding-right: 10px;
  text-align: right;
}

.accountInfo .alertInfo {
  float: right;
  width: 300px;
  height: 60px;
  padding-left: 10px;
  border-left: solid 1px #accdf4;
}

.accountInfo .alertInfo h2 {
  padding: 8px 0;
  line-height: 17px;
}

.accountInfo .alertInfo a {
  padding: 6px 0 0 0;
  line-height: 21px;
}

/* Pages */
.pageForm .inputInfo {
  color: #999;
}

/* Pages dialog */
.dialog .pageHeader,.dialog .pageContent {
  border-color: #b8d0d6;
}

.dialog .pageContent .pageFormContent {
  border-color: #b8d0d6;
  background: #FFF;
}


.page .searchBar label {
  color: #183152;
}

/* Pages Form */
.formBar {
  border-color: #b8d0d6;
}

.divider {
  border-color: #b8d0d6;
}

/* combox */
.combox .select a {
  color: #183152;
}

.comboxop {
  border-color: #B8D0D6;
}


/*---------------------home*/
body.home {
  margin: 13px 0 0 13px;
}

.homeWrap {
  margin: 0 0 0 13px;
}

.col_1,.col_2 {
  float: left;
  margin-right: 13px;
  width: 48%;
}

/*add 2014-03-15*/
.gridWrap {
  margin-bottom: 13px;
  border: 1px #c9ced1 solid;
}


.gridTitle h2 {
  margin: 0px;
  padding: 0px;
  border: 0px none;
  vertical-align: baseline;
  cursor: default;
  padding-left: 5px;
  line-height: 40px;
  float: left;
}

.gridTitle h2 b {
  color: #000;
  font-weight: bold;
  font-family: "Microsoft Yahei";
  padding-left: 42px;
  font-size: 20px;
  color: #000000;
}

.gridTitle .toolBar {
  float: right
}


/****add by Perhaps*****/
.gridTitle a {
  display: inline-block;
}
/*****end*******/
.gridTitle .tools {
  float: right;
  margin-top: 14px;
}

.gridTitle .tools a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #000;
}


.gridWrap table td { /*border-bottom:1px solid #cbcbcb;*/
  background: #fff;
  height: 26px;
  line-height: 33px;
  padding-left: 5px;
  text-align: center;
  color: #787878;
}

.gridWrap table tr.hover td {
  background: #deedf7;
}

.gridWrap a {
  text-decoration: underline;
}

#changeModeBtn_f {
  position: absolute;
  width: 78px;
  height: 78px;
  right: -46px;
  bottom: -46px;
  z-index: 1;
}

.homeContent {
  overflow-y: auto;
  height: 100%;
}

.pr {
  position: relative;
}
/*************create by Perhaps,date:2014/09/16**********************/
.sitecol {
  width: 20%;
  height: 100%;
  padding-right: 4px;
}

.fl {
  float: left;
}

.sitehead {
  position: relative;
  height: 34px;
  border-bottom: 2px solid #5eb8e5;
}

.sitehead h3 {
  color: #36a6de;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  padding-left: 8px;
}

.sitename {
  width: auto;
  line-height: 38px;
  padding-left: 8px;
  font-size: 12px;
}

.sitename label {
  font-weight: bold;
  float: left;
  line-height: 38px;
}

.colname {
  height: 37px;
  border-top: 1px solid #e4e6ea;
  line-height: 37px;
  background-color: #f2f7fb;
}

.colname span {
  display: block;
  height: 37px;
  position: relative;
  padding-left: 43px;
  color: #36a6de;
  line-height: 37px;
}

.coltable {
  overflow: auto;
}

.coltable .release_table {
  width: 100%;
  border: none;
}

.coltable .release_table tbody {
  border: none;
}

.coltable .release_table tbody td {
  height: 35px;
  line-height: 35px;
  color: #6b6b6b;
  font-size: 12px;
  position: relative;
}

.coltable .release_table tbody tr.selected {
  background-color: #7cc5e5;
}

.coltable .release_table tbody tr.selected td {
  color: #fff;
}

.releasecontainer {
  height: 100%;
}

.sitecontent {
  width: 78%;
  margin-left: 4px;
  border-right: 1px solid #cccccc;
  padding-right: 10px;
  height: 100%;
}

.fr {
  float: right;
}
/**************************按钮*******************************************/

.icon_opts span {
  display: none;
}

.add_opt {
  background-position: -563px -594px;
}

.add_opt:hover {
  background-position: -695px -594px;
}

.modify_opt {
  background-position: -563px -631px;
}

.modify_opt:hover {
  background-position: -695px -631px;
}

.delete_opt {
  background-position: -563px -668px;
}

.delete_opt:hover {
  background-position: -695px -668px;
}

.look_opt {
  background-position: -563px -705px;
}

.look_opt:hover {
  background-position: -695px -705px;
}

.recycle_opt {
  width: 77px;
  background-position: -563px -742px;
}

.recycle_opt:hover {
  background-position: -695px -742px;
}

.back_opt {
  background-position: -563px -556px;
}

.back_opt:hover {
  background-position: -695px -556px;
}

.save_opt {
  background-position: -563px -779px;
}

.save_opt:hover {
  background-position: -695px -779px;
}

.close_opt {
  background-position: -563px -816px;
}

.close_opt:hover {
  background-position: -695px -816px;
}

.sh_opt {
  background-position: -563px -853px;
}

.sh_opt:hover {
  background-position: -695px -853px;
}

.recover_opt {
  background-position: -563px -890px;
}

.recover_opt:hover {
  background-position: -695px -890px;
}

.clear_opt {
  background-position: -563px -927px;
}

.clear_opt:hover {
  background-position: -695px -927px;
}

.qy_opt {
  background-position: -563px -964px;
}

.qy_opt:hover {
  background-position: -695px -964px;
}

.jy_opt {
  background-position: -563px -1001px;
}

.jy_opt:hover {
  background-position: -695px -1001px;
}

.ok_opt {
  background-position: -563px -1038px;
}

.ok_opt:hover {
  background-position: -695px -1038px;
}

.plsh_opt {
  width: 88px;
  background-position: -563px -1075px;
}

.plsh_opt:hover {
  background-position: -695px -1075px;
}

.xxfb_opt {
  width: 88px;
  background-position: -563px -1112px;
}

.xxfb_opt:hover {
  background-position: -695px -1112px;
}

.lmfb_opt {
  width: 88px;
  background-position: -563px -1149px;
}

.lmfb_opt:hover {
  background-position: -695px -1149px;
}

.zdfb_opt {
  width: 88px;
  background-position: -563px -1186px;
}

.zdfb_opt:hover {
  background-position: -695px -1186px;
}

.zzfb_opt {
  width: 88px;
  background-position: -563px -1223px;
}

.zzfb_opt:hover {
  background-position: -695px -1223px;
}


.syfb_opt {
  width: 89px;
  background-position: -25px -1298px;
}

.syfb_opt:hover {
  background-position: -157px -1298px;
}

.lmbf_opt {
  width: 88px;
  background-position: -563px -1260px;
}

.lmbf_opt:hover {
  background-position: -695px -1260px;
}

.zdbf_opt {
  width: 88px;
  background-position: -563px -1297px;
}

.zdbf_opt:hover {
  background-position: -695px -1297px;
}

.zzbf_opt {
  width: 88px;
  background-position: -563px -1334px;
}

.zzbf_opt:hover {
  background-position: -695px -1334px;
}

.wclb_opt {
  width: 88px;
  background-position: -563px -1371px;
}

.wclb_opt:hover {
  background-position: -695px -1371px;
}

.yjsq_opt {
  width: 88px;
  background-position: -563px -1408px;
}

.yjsq_opt:hover {
  background-position: -695px -1408px;
}

.yjqx_opt {
  width: 88px;
  background-position: -563px -1445px;
}

.yjqx_opt:hover {
  background-position: -695px -1445px;
}

/*--构建索引--*/
.gjsy_opt {
  width: 88px;
  background-position: -563px -1482px;
}

.gjsy_opt:hover {
  background-position: -695px -1482px;
}

.gjsy_opt {
  width: 88px;
  background-position: -563px -1482px;
}

.gjsy_opt:hover {
  background-position: -695px -1482px;
}

.lmgjsy_opt {
  width: 112px;
  background-position: -25px -1075px;
}

.lmgjsy_opt:hover {
  background-position: -157px -1075px;
}

.zdgjsy_opt {
  width: 112px;
  background-position: -25px -1112px;
}

.zdgjsy_opt:hover {
  background-position: -157px -1112px;
}

.zzgjsy_opt {
  width: 112px;
  background-position: -25px -1149px;
}

.zzgjsy_opt:hover {
  background-position: -157px -1149px;
}

.zdscsy_opt {
  width: 112px;
  background-position: -24px -1602px;
}

.zdscsy_opt:hover {
  background-position: -157px -1602px;
}

.cl_opt {
  background-position: -25px -1187px;
}

.cl_opt:hover {
  background-position: -157px -1187px;
}

.plcl_opt {
  width: 92px;
  background-position: -25px -1224px;
}

.plcl_opt:hover {
  background-position: -157px -1224px;
}
.zdlmqx_opt {
  width: 112px;
  background-position: -25px -1261px;
}

.zdlmqx_opt:hover {
  background-position: -157px -1261px;
}
/*-------*/
.excel_opt {
  width: 70px;
  background-position: -563px -1519px;
}

.excel_opt:hover {
  background-position: -695px -1519px;
}

.word_opt {
  width: 70px;
  background-position: -563px -1558px;
}

.word_opt:hover {
  background-position: -695px -1558px;
}
/********add by Perhaps,date:2014/9/18**********/
.copy_opt {
  background-position: -356px -1075px;
}

.copy_opt:hover {
  background-position: -446px -1075px;
}

.report_opt {
  background-position: -356px -1113px;
}

.report_opt:hover {
  background-position: -446px -1113px;
}

.transfer_opt {
  background-position: -356px -1150px;
}

.transfer_opt:hover {
  background-position: -446px -1150px;
}

.refer_opt {
  background-position: -356px -1187px;
}

.refer_opt:hover {
  background-position: -446px -1187px;
}

.cancel_opt {
  background-position: -356px -1224px;
}

.cancel_opt:hover {
  background-position: -446px -1224px;
}

.release_opt {
  background-position: -356px -1261px;
}

.release_opt:hover {
  background-position: -446px -1261px;
}

.sq_opt {
  background-position: -356px -1298px;
}

.sq_opt:hover {
  background-position: -446px -1298px;
}

.undo_opt {
  background-position: -356px -1335px;
}

.undo_opt:hover {
  background-position: -446px -1335px;
}

.download_opt {
  background-position: -356px -1372px;
}

.download_opt:hover {
  background-position: -446px -1372px;
}

.upload_opt {
  background-position: -356px -1409px;
}

.upload_opt:hover {
  background-position: -446px -1409px;
}

.hf_opt {
  background-position: -356px -1446px;
}

.hf_opt:hover {
  background-position: -446px -1446px;
}

.byhf_opt {
  width: 90px;
  background-position: -356px -1483px;
}

.byhf_opt:hover {
  width: 90px;
  background-position: -446px -1483px;
}

.hb_opt {
  background-position: -356px -1520px;
}

.hb_opt:hover {
  background-position: -446px -1520px;
}

.ck_opt {
  background-position: -356px -1558px;
}

.ck_opt:hover {
  background-position: -446px -1558px;
}

.zt_opt {
  background-position: -356px -1592px;
}

.zt_opt:hover {
  background-position: -446px -1592px;
}

.bcsz_opt {
  width: 90px;
  background-position: -25px -1336px;
}

.bcsz_opt:hover {
  background-position: -157px -1336px;
}

.qxsz_opt {
  width: 90px;
  background-position: -25px -1374px;
}

.qxsz_opt:hover {
  background-position: -157px -1374px;
}

.qdcj_opt {
  width: 90px;
  background-position: -25px -1412px;
}

.qdcj_opt:hover {
  background-position: -157px -1412px;
}

.update_opt {
  width: 68px;
  background-position: -24px -1450px;
}

.update_opt:hover {
  width: 68px;
  background-position: -157px -1450px;
}

.sz_opt {
  width: 68px;
  background-position: -24px -1488px;
}

.sz_opt:hover {
  width: 68px;
  background-position: -157px -1488px;
}

.choose_opt {
  background-position: -24px -1526px;
}

.choose_opt:hover {
  width: 68px;
  background-position: -157px -1526px;
}

.small-icon-add {
  background-position: -563px -333px;
}

.small-icon-delete {
  background-position: -583px -333px;
}

.small-icon-pause {
  background-position: -603px -333px;
}

.small-icon-play {
  background-position: -623px -333px;
}

.small-icon-interrupt {
  background-position: -643px -333px;
}

.small-icon-ok {
  background-position: -663px -333px;
}

.small-icon-forbidden {
  background-position: -683px -333px;
}

.small-icon-preview {
  background-position: -704px -333px;
}

.small-icon-edit {
  background-position: -565px -197px;
}

.small-icon-info {
  background-position: -563px -118px;
}
/*********************************按钮结束***************************************/
/*********************************列表按钮***************************************/

.grid_icon span {
  display: none;
}

.grid_view {
  background-position: 0px -42px;
}

.grid_view:hover {
  background-position: -110px -42px;
}

/***********************************列表按钮结束***************************************/
.more_opt_div {
  position: relative;
  float: left;
}

.more_opt {
  width: 105px;
  background-position: -563px -1593px;
}

.moreopt {
  position: absolute;
  left: 0;
  top: 27px;
  width: 106px;
  background-color: #606060;
  z-index: 1000;
  display: none;
}

.moreopt li {
  height: 28px;
  text-align: center;
  float:none;
}

.moreopt li a {
  line-height: 28px;
  color: #fff;
  display: block;
  height: 28px;
  text-decoration: none;
}

.moreopt li a:hover {
  background-color: #484848;
}

.more_opt:hover {
  background-position: -695px -1593px;
}

.siteoperate-left {
  float: left;
  margin: 5px 0 0 5px;
}

.sitesearch {
  float: right;
  /*  margin: 4px 20px 0 0; */
  position: absolute;
  right: 20px;
  top: 4px;
}

.sitesearch .ipt_search {
  width: 129px;
  height: 27px;
  line-height: 27px;
  display: block;
  border: 1px solid #ced6e0;
  padding: 0 27px 0 20px;
}

.setting-link:hover {
  background-position: -590px -193px;
}

.cb {
  clear: both;
}

.high-color {
  color: #ff2a2a;
}

.middle-color {
  color: #6b6b6b;
}

.low-color {
  color: #a5a5a5;
}

.none {
  display: none;
}

.sitedetail {
  width: 100%;
}

.sitedetail .grid .gridHeader th {
  height: 35px;
  line-height: 35px;
  background: #f2f7fb;
  color: #36a6de;
  font-size: 12px;
  text-align: center;
  border: none;
  box-sizing: content-box;
}

.sitedetail .grid .gridTbody td {
  text-align: center;
  font-size: 12px;
  color: #6b6b6b;
  height: 35px;
  line-height: 35px;
  border: none;
  border-bottom: 1px dashed #EBE2E2;
  box-sizing: content-box;
}

.sitedetail .grid .gridCol {
  height: 35px;
  line-height: 35px;
}

.sitedetail .grid .gridCol span {
  vertical-align: middle;
  line-height: 35px;
}

.sitedetail .grid .gridTbody .hover {
  border-color: #dddddd;
  background: #f2ffea;
}

.icon-yy {
  background-position: -602px -153px;
}

.icon-fz {
  background-position: -641px -153px;
}

.icon-zy {
  background-position: -680px -153px;
}

.icon-wsh {
  background-position: -563px -22px;
}

.icon-btg {
  background-position: -563px -83px;
}

.icon-tg {
  background-position: -563px -52px;
}

.sitedetail .bgH {
  background-color: #f6f8f4;
}

.green-i {
  background-position: -563px -118px;
}

.gray-i {
  background-position: -583px -118px;
}

.red-i {
  background-position: -603px -118px;
}

.blue-i {
  background-position: -623px -118px;
}

.opwrap {
  height: 39px;
  position: relative;
  border-bottom: 1px solid #d2e3f1;
}

.advance {
  width: 238px;
  height: 140px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  z-index: 1000;
  position: absolute;
  padding-left: 12px;
  display: none;
  left: -74px;
  top: 28px;
}

.advance h3 {
  color: #35a6df;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
}

.advance input {
  width: 66px;
  height: 28px;
  display: block;
  float: right;
  background-color: #35a6df;
  line-height: 28px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  border: none;
  margin-right: 22px;
}

.advancedown {
  width: 79px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #ced6e0;
  padding-left: 22px;
  position: relative;
  color: #8993a4;
}

.conditionwrap {
  float: left;
  margin: 0 10px 8px 0;
}

/**********重写分页样式********************/

/*.sitedetail .panelBar{*/
/*height:44px;*/
/*line-height: 44px;*/
/*border:none;*/
/*background-color: #f2f7fb;*/
/*}*/
/*.sitedetail .panelBar .pages{*/
/*height:44px;*/
/*line-height: 44px;*/
/*margin-left: 200px;*/
/*}*/
/*.sitedetail .panelBar .pages span{*/
/*line-height: 44px;*/
/*}*/
/*.sitedetail .panelBar li{*/
/*padding:0 7px;*/
/*height:20px;*/
/*line-height: 20px;*/
/*border:1px solid #d2d7db;*/
/*background-color: #fff;*/
/*color:#080808;*/
/*}*/
/*.sitedetail .panelBar li:hover{*/
/*padding:0 7px;*/
/*background:none;*/
/*background-color:#cedbee;*/

/*}*/
/*.sitedetail .pagination a,.sitedetail .pagination li.hover a,.sitedetail .pagination li span{*/
/*float: none;*/
/*display: inline;*/
/*padding: 0;*/
/*text-decoration: none;*/
/*line-height: 20px;*/
/*background: none;*/
/*}*/
.i-tag {
  background-color: #606060;
  position: absolute;
  padding: 16px 0 30px 12px;
  display: none;
}

.i-tag p {
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #fff;
}
/*************create by Perhaps************/
.bl1 {
  border-left: 1px solid #666666;
}

.br1 {
  border-right: 1px solid #666666;
}
/*********add by Perhaps,date:2014/09/19**********/
.rls_tb_title {
  position: relative;
  padding-right: 55px;
}

.rls_tb_title p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rls_tb_title_link {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.zd-link {
  background-position: -602px -282px;
}

.qxzd-link {
  background-position: -653px -282px;
}
/******************add by Perhaps,date:2014/09/22******************/
.general_table {
  border: none;
  margin-top: 10px;
  width: 100%;
}

.general_table th,.general_table th a {
  height: 35px;
  line-height: 35px;
  background: #f2f7fb;
  color: #36a6de;
  font-size: 12px;
  text-align: center;
  border: none;
}

.general_table td {
  text-align: center;
  font-size: 12px;
  color: #6b6b6b;
  height: 35px;
  line-height: 35px;
  border: none;
  border-bottom: 1px dashed #EBE2E2;
}

.general_table input {
  height: 28px;
  line-height: 28px;
}
/*****下拉列表*****************/
.dropdown-menu li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu li>a {
  color: #ffffff;
}

.dropdown-menu li>a:hover,.dropdown-menu li>a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5
}

.dropdown-menu .active>a,.dropdown-menu .active>a:hover,.dropdown-menu .active>a:focus
{
  color: #fff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0
}

.input-append {
  position: relative;
  height: 28px;
  overflow: hidden;
}

.ipt-search {
  height: 24px;
  line-height: 24px;
  padding-right: 22px;
}

.site-list {
  max-height: 230px;
  overflow: auto;
  margin-top: 5px;
}

.sitedetail .grid .gridTbody td div.green,.sitedetail .grid .gridTbody td div.yellow,.sitedetail .grid .gridTbody td div.red
{
  color: #fff;
  width: 44px;
  height: 23px;
}

.sitedetail .grid .gridTbody td div.green {
  background-color: green;
}

.sitedetail .grid .gridTbody td div.yellow {
  background-color: yellow;
}

.sitedetail .grid .gridTbody td div.red {
  background-color: red;
}